<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Staff</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
        }

        #f {
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #ddd;
            padding: 20px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
        <form  action="/aved/back" method="post">
     <button type="submit">BACK</button>
</form>
    <h1>Find Staff</h1>

    <form id="f" action="/aved/findstaff" method="post">
        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" required value="<%= locals.username %>"><br>
        <button type="submit">Find</button><br>
    </form><br>

    <!-- Error message -->
    <div class="error-message">
        <label><%= locals.er %></label>
    </div>
</body>
</html>
